<!DOCTYPE html>

<!--Shared layout across website-->

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <!--Include CSS formating style from bootstrap and my own css files-->
    <link href="lib/bootstrap/css/styles.css" rel="stylesheet" />
    <link href="css/default.css" rel="stylesheet" />

    <!--Create an icon in the tab next to the website title-->
    <link rel="icon" href="https://st2.depositphotos.com/1026531/5294/v/600/depositphotos_52941743-stock-illustration-black-silhouettes-motocross-rider-on.jpg" />

</head>
<body>

    <!--Dynamic Navigation bar using asp -->
    <nav>
        <a asp-controller="SubViews" asp-action="Index">Home</a>
        <a asp-controller="SubViews" asp-action="GradeCalc">Grade Calculator</a>
    </nav>

    <div>
        @RenderBody()
    </div>

    <br />
    <footer>Brett Scorse - Mission #3 Assignment</footer>
    <br />

    <script src="lib/bootstrap/js/scripts.js"></script>
    <script src="lib/jquery/jquery-3.6.0.min.js"></script>

</body>

</html>
