body {
    background-color: whitesmoke;
    align-content:center;
    text-align: center;
}

h4 {
    color: cornflowerblue;
}

label {
    display: inline-block;
    width: 150px;
    
}

p {
    text-align: left;
    width: 600px; 
    /*word-wrap:normal;*/
    display: inline-block;
   
}

img{
    padding: 2em;
}

form{
    padding-bottom: 50px;
}