@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Mission #3 Grade Calculator";
}

@model GradeCalcModel;


<!--Form to obtain grade values-->
<link href="css/default.css" rel="stylesheet" />
<h4>Grade Calculator</h4>
<h5>Input each category grade as a decimal:</h5>
<form method="post">
    <label>Assignments</label>
    <input type="number" step="0.01" id="AssignmentsGrade" asp-for="Assignment" />
    <br />

    <label>Group Project</label>
    <input type="number" step="0.01" id="GroupGrade" asp-for="Group"/>
    <br />

    <label>Quizzes</label>
    <input type="number" step="0.01" id="QuizzesGrade" asp-for="Quizzes" />
    <br />

    <label>Exam</label>
    <input type="number" step="0.01" id="ExamGrade" asp-for="Exam"/>
    <br />

    <label>Intex</label>
    <input type="number" step="0.01" id="IntexGrade" asp-for="Intex"/>
    <br style="padding-bottom: 10px;" />

    <!--Button and a few style changes-->
    <input style="text-align: center; padding-top: 10px;" id="btnSend" type="submit" value="Calculate Final Grade" />

    <!--Displays validation errors at the bottom of the form-->
    <div asp-validation-summary="All"></div>

</form>

<script src="js/GradeCalc.js"></script>