@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Mission #3 Assignment";
}

<!--Home page layout for website-->
<h1>Brett Scorse</h1>
<!--<link href="~/css/default.css" rel="stylesheet" />-->
<!--Picture and caption here-->
<h4>I've enjoyed riding dirt bikes of all kinds from a young age!</h4>
<img src="img/Mission2IS413Img.JPG" />

<h4>What I want to get out of IS 413:</h4>
<p>
    The first few days of every semester are an adjustment, and I'm now realizing the potential of IS 413.
    From what I can udnerstand so far, the class is organizaed for students to learn skills consisting of
    ASP.NET, C#, Javascript, Visual Community Studio, and website frameworks to create interactive websites applications.
    <br />
    My goals for this class are to walk away with a stronger understanding of web framework types and how to create those using various techniques.
    The skills I hope to strengthen from those techniques are Javascript, C#, ASP.NET, jquery, and whatever other important web development tools that exist.
    <br />
    I understand that I won't learn everything for web development in this class, but I look forward to gaining a foundation which will assist me in future roles.
</p>

<h4>Top 3 Job Interests After Graduation:</h4>
<ol>
    <li>Data Science</li>
    <li>Cybersecurity</li>
    <li>Software Development</li>
</ol>




<!--<a href="lib/bootstrap/index.html">lib/bootstrap/index.html</a>-->
